body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

.Login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Login-box {
    display: flex;
    flex-direction: column;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.Home {
    margin: 1%;
}

.Home nav {
    padding: 5px;
}

.Home-avatar {
    width: 45px;
    height: 60px;
}

.Home-logout {
    font-size: 1.5em;
    margin-top: -5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    cursor: pointer;
}